section.funfact-route1 {
    background-image: url("/img/funfacts/route1.png");
}

section.funfact-route2 {
    background-image: url("/img/funfacts/route2.png");
}

section.funfact-route3 {
    background-image: url("/img/funfacts/route3.png");
}

section.funfact-route4 {
    background-image: url("/img/funfacts/route4.png");
}

section.funfact-route5 {
    background-image: url("/img/funfacts/route5.png");
}

section.funfact-route6 {
    background-image: url("/img/funfacts/route6.png");
}

section.funfact-route7 {
    background-image: url("/img/funfacts/route7.png");
}

section.funfact-route8 {
    background-image: url("/img/funfacts/route8.png");
}

section.funfact-route9 {
    background-image: url("/img/funfacts/route9.png");
}

section.funfact-route10 {
    background-image: url("/img/funfacts/route10.png");
}

section.funfact-route11 {
    background-image: url("/img/funfacts/route11.png");
}

section.funfact-route12 {
    background-image: url("/img/funfacts/route12.png");
}

section.funfact-route13 {
    background-image: url("/img/funfacts/route13.png");
}

section.funfact-route14 {
    background-image: url("/img/funfacts/route14.png")
}

section.funfact-route15 {
    background-image: url("/img/funfacts/route15.png");
}

section.funfact-route16 {
    background-image: url("/img/funfacts/route16.png");
}

section.funfact-route17 {
    background-image: url("/img/funfacts/route17.png");
}

section.funfact-route18 {
    background-image: url("/img/funfacts/route18.png");
}

section.funfact-route19 {
    background-image: url("/img/funfacts/route19.png");
}

section.funfact-route20 {
    background-image: url("/img/funfacts/route20.png");
}

section.funfact-route21 {
    background-image: url("/img/funfacts/route21.png");
}

section.funfact-route22 {
    background-image: url("/img/funfacts/route22.png");
}

section.funfact-route24 {
    background-image: url("/img/funfacts/route24.png");
}

section.funfact-route25 {
    background-image: url("/img/funfacts/route25.png");
}