:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16);
    --bg: gray;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera {
    width: calc(var(--pixel-size) * 294);
    height: calc(var(--pixel-size) * 204);
    overflow: hidden;
    top: 247px;
    left: 370px;
    background: #61ddf7;
    position: relative;
}


.map {
    background-image: url("img/route1.png");
    background-size: 100%;
    /*width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));*/
    width: 100%;
    height: 200%;
    position: relative;
}

.bg {
    /* The image used */
    background-image: url("img/gameboy.png");

    /* Full height */
    height: 100%;
    width: 70%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}